.password-form__form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* .password-form .input-password {
  flex: calc(50% - 0.5rem) 1 100%;
  max-width: calc(50% - 0.5rem);
} */

.password-form__error {
  width: 100%;
  color: var(--primary-color);
}
