.input-text-area {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.input-text-area__label {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-template-columns: repeat(2, min-content);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input-text-area__text-area {
  bottom: 1rem;
  vertical-align: middle;
  border: none;
  background: transparent;
  font-weight: bold;
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  border: 1px solid var(--grey-light-color);
  padding: 0.75rem;
  margin-bottom: 0.5rem;
  resize: none;
}

.input-text-area__info {
  position: relative;
  font-size: 0.75rem;
  margin-left: 0.5rem;
  color: var(--grey-light-color);
}

.input-text-area__info:hover {
  color: var(--grey-dark-color);
}

.input-text-area__info__text {
  position: absolute;
  display: none;
  right: -10.5rem;
  bottom: 0;
  margin-left: 1.5rem;
  font-size: 0.75rem;
  min-width: 9rem;
  line-height: 1.5;
  color: var(--white-color);
  background-color: var(--primary-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.input-text-area__info:hover .input-text-area__info__text {
  display: block;
}

.input-text-area__letter-counter {
  align-self: flex-end;
}

.input-text-area__letter-counter--error {
  color: var(--primary-color);
}
