:root {
  --step-bubble-background-color: var(--secondary-color);
  --step-bubble-font-color: var(--white-color);
  --step-bubble-size: 2rem;
  --step-bubble-active-size: 3rem;
}

.step-bubble {
  z-index: 1;
  display: flex;
  width: var(--step-bubble-size);
  height: var(--step-bubble-size);
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  font-size: 1.2rem;
  background-color: var(--grey-dark-color);
  color: var(--step-bubble-font-color);

  box-shadow: 0px 0px 9px 1px rgb(0 0 0 / 40%);
}

.step-bubble--active {
  background-color: var(--step-bubble-background-color);
  width: var(--step-bubble-active-size);
  height: var(--step-bubble-active-size);
}
.step-bubble--success {
  background-color: var(--primary-color);
}
