.step-progress-indicator {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(5, min-content);
  margin: 0 3rem;
}

.step-progress-indicator__indicator {
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: 3rem 1.5rem;
  place-items: center;
}


.step-progress-indicator .step-mark {
  grid-row: 2;
}
