:root {
  --error-icon-color: var(--primary-color);
  --success-icon-color: var(--green-color, #228b22);
}

.feedback {
  display: grid;
  place-content: center;
  width: 100%;
}

.feedback__modal {
  transform: translateX(-50%);
}

.feedback .modal__modal-main {
  padding: 1rem 3rem;
}

.feedback__error-icon {
  color: var(--error-icon-color);
}
.feedback__success-icon {
  color: var(--success-icon-color);
}
