.step-separator {
  width: 2rem;
  height: 0.2rem;
  margin-left: -1px;
  background-color: var(--grey-dark-color);
}

.step-separator--active {
  background-color: var(--secondary-color);
}
.step-separator--success {
  background-color: var(--primary-color);
}
