

.product-information__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.product-information__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
}

.product-information__group img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 10rem;
}