:root {
  --button-font-family: var(--font-family);
  --button-background-color: transparent;
  --button-font-color: var(--secondary-color);

  --button-primary-background-color: var(--primary-color);
  --button-primary-font-color: var(--white-color);

  --button-secondary-background-color: var(--secondary-color);
  --button-secondary-font-color: var(--white-color);

  --button-secondary-disabled-background-color: var(--grey-dark-color);
  --button-secondary-disabled-font-color: var(--white-color);

  --button-finish-font-color: var(--primary-color);
}

.button {
  display: inline-block;
  padding: 1em 2rem;
  background: var(--button--background-color);
  border: none;
  border-radius: 3px;
  color: var(--button-font-color);
  text-decoration: none;
  font-family: var(--button-font-family);
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

.button-flat {
  all: inherit;
}

.button--primary {
  background: var(--button-primary-background-color);
  color: var(--button-primary-font-color);
}

.button--secondary {
  background: var(--button-secondary-background-color);
  color: var(--button-secondary-font-color);
}

.button--secondary::after,
.button--finish::after {
  content: '>';
  margin-left: 0.5em;
}

.button--secondary:disabled {
  background: var(--button-secondary-disabled-background-color);
  color: var(--button-secondary-disabled-font-color);
  cursor: not-allowed;
}

.button--finish {
  color: var(--primary-color);
  font-weight: bold;
}
