.modal {
  position: fixed;
  width: 100%;
  top: 100vh;
  right: 0;
  display: grid;
  place-content: center;
  z-index: 1;
}
.modal__container {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  max-width: 1000px;
  border-radius: 4px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  background-color: var(--white-color, #ffffff);
  z-index: 1;
  margin: 1rem 1rem 3rem 1rem;
}

.modal--visible {
  position: absolute;
  top: 0;
  animation: fadeInPosition 0.75s ease;
}

.modal-backdrop {
  opacity: 0.5;
  position: fixed;
  background-color: var(--white-color);
  width: 100%;
  min-height: 100vh;
  top: 100vh;
  animation: fadeOutOpacity 0.75s ease;
  z-index: 0;
}

.modal-backdrop--visible {
  position: absolute;
  top: 0;
  animation: fadeInOpacity 0.75s ease;
}

.modal__modal-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-top: 1px solid var(--grey-light-color);
}

@media (max-width: 360px) {
  .modal__modal-footer {
    flex-direction: column-reverse;
    gap: 1.5rem
  }
}

@keyframes fadeInPosition {
  0% {
    top: 100vh;
  }

  100% {
    top: 0;
  }
}

@keyframes fadeOutPosition {
  0% {
    position: fixed;
    top: 0;
  }

  100% {
    top: 100vh;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}
