:root {
  /* Colors */
  --primary-color: #ff0049;
  --secondary-color: #002b45;
  --terciary-color: #fff1e5;

  --white-color: #ffffff;
  --black-color: #000000;

  --grey-dark-color: #AFBDC4;
  --grey-light-color: #E3E7EA;
  --green-color: #228b22;

  /* Typography */
  --font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
