.input-password {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  margin: 0.5rem 0;
}

.input-password__input-container {
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: repeat(2, min-content);
  place-items: center;
  border: 1px solid var(--grey-light-color);
  margin-top: 0.5rem;
}

.input-password__input-container input {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--grey-dark-color);
  margin: 0;
  font-family: var(--font-family);
  padding: 0.5rem;
}

.input-password__input-container input:focus {
  outline: none;
}

.input-password__input-container button {
  grid-column: 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: none;
  background: var(--white-color);
  color: var(--grey-dark-color);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.input-password__input-container button:active {
  background: var(--white-color);
  color: var(--grey-light-color);
}

.input-password__security-checker {
  all: unset;
  align-self: end;
  justify-self: start;
  height: 0.2rem;
}

.input-password__security-checker[value='1'] {
  width: 33%;
  background: #ff0000;
}
.input-password__security-checker[value='2'] {
  width: 66%;
  background: #ffa500;
}
.input-password__security-checker[value='3'] {
  width: 100%;
  background: #008000;
}

.input-password__error {
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: var(--primary-color);
}
