.step-mark {
  margin-top: 1rem;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--white-color);
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.5));
}

.step-mark--complete {
  border-bottom-color: transparent;
}