.checkbox {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: flex-end;
  flex-direction: row-reverse;
  padding-right: auto;
}

.checkbox__input {
  all: unset;
  width: 100%;
  height: 25px;
  max-width: 25px;
  max-height: 25px;
  background-color: var(--grey-light-color);
  margin-right: 0.5rem;
}

.checkbox__input:checked {
  background-color: var(--primary-color);
}

.checkbox__input:checked::after {
  /* position: relative; */
  display: grid;
  place-content: center;
  font-size: 1.2rem;
  content: '✓';
  color: var(--white-color);
  text-align: center;
  background-color: var(--primary-color);
}
